.navbar-button {
  padding: 0.5rem 1rem;

  border: 3px solid white;
  border-radius: 1.5rem;

  color: white;
  font-size: larger;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;

  text-decoration: none;
  cursor: pointer;
  background-color: rgb(250, 93, 101);
}

.navbar-button:hover {
  color: white;
  box-shadow: 4px 4px 15px rgb(250, 93, 101);
}
