.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.about-content {
    backdrop-filter: blur(12px);

    border: 2px solid rgb(8, 150, 8);
    border-radius: 1rem;
    box-shadow: 4px 4px 15px rgb(8, 150, 8);

    color: white;
    font-weight: 400;
    font-size: x-large;
    text-shadow: 2px 2px 4px rgb(8, 150, 8);

    padding: 2rem;
    margin: .5rem;

    width: 95%;

    line-height: 2rem;
    word-spacing: 5px;
}

.about-container .about-content h1 {
    text-align: center;
    margin: 2.5rem;
}

@media (min-width: 769px) and (min-height: 840px) {
    .about-container .about-content h1 {
        margin: 1rem;
    }
  }

@media (min-width: 992px) and (min-height: 840px) {
    .about-content {
        width: 100%;
        padding: 1rem;
        font-size: larger;
    }
  }

@media (min-width: 1200px) and (min-height: 960px) {
    .about-content {
        width: 100%;
        padding: 1rem;
        font-size: larger;
    }
  }