@media (max-width: 375px) {
    .enter-button {
        padding: 1rem 2rem;
        font-size: medium;
      }
    
      .check-text {
        text-align: center;
        font-size: small;
    }
}

@media (min-width: 376px) and (max-width: 576px) {
  .enter-button {
    padding: 1rem 2rem;
    font-size: medium;
  }

  .check-text {
    text-align: center;
    font-size: small;
}
}

@media (min-width: 577px) and (max-width: 768px) { 
    .enter-button {
        padding: 1rem 2rem;
        font-size: large;
      }
    
      .check-text {
        text-align: center;
        font-size: medium;
    }
 }
    
@media (min-width: 769px) and ( max-width: 992px ) { }
    
@media (min-width: 993px) and ( max-width: 1200px) { } 
    
@media (min-width: 1201px) and ( max-width: 1400px) { }