
html {
  background-image: url(../../shared/img/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.blackjack-game-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.left-side-down {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ai-area,
.player-area {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  backdrop-filter: blur(10px);

  border: 2px solid rgb(8, 150, 8);
  border-radius: 1rem;
  box-shadow: 4px 4px 15px rgb(8, 150, 8);
}

.nextcard-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  display: flex;
  justify-content: space-between;
}

.pot-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: white;
  font-size: large;
  font-weight: 400;

  backdrop-filter: blur(10px);

  border: 2px solid rgb(8, 150, 8);
  border-radius: 1rem;
  box-shadow: 4px 4px 15px rgb(8, 150, 8);

  width: 15rem;

  margin-right: 1rem;
}

.pot-area p{
  padding: 1rem;
  margin: 1rem;

  border: 2px solid rgb(8, 150, 8);
  border-radius: 1rem;
  box-shadow: 4px 4px 15px rgb(8, 150, 8);

  backdrop-filter: blur(10px);
  
}

.ai-cash {
  display: flex;
  text-align: center;
}

.player-cash {
  display: flex;
  text-align: center;
  margin: 0;
}

.pot-cash {
  display: flex;
  text-align: center;
}

.display {
  border: 2px solid rgb(8, 150, 8);
  border-radius: 0.5rem;
  box-shadow: 4px 4px 15px rgb(8, 150, 8);

  text-align: center;

  color: white;
  font-weight: 400;
  font-size: large;

  height: 20vh;
  width: 40vh;

  margin: 1rem;
}

.display > div > p {
  font-size: x-large;
}

.display > div > span {
  font-size: xx-large;
}

.upper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  margin: 1rem;
}

.card-btn {
  padding: 1rem 3rem;
  display: inline-block;

  background-color: rgb(250, 93, 101);
  color: white;

  border: 3px solid white;
  border-radius: 1.5rem;

  font-size: larger;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;

  cursor: pointer;
}

.card-btn:hover {
  color: white;
  box-shadow: 4px 4px 15px rgb(250, 93, 101);
}

.card-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.game-text {
  font-size: large;
  color: white;
}


@media (max-width: 576px) {

.blackjack-game-area {
  padding: 0;
  flex-direction: column;
}

.pot-area {
  flex-direction: row;
  height: 15%;
  margin: 0;
  width: 99%;
  font-size: small;
}


.blackjack-game-area .right-side .upper .display, .display, .navbar-items{
  display: none;
  margin: 0;
}

.display  > div > p {
  margin: 0;
}

.right-side .game-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
}

.game-text p {
  margin: 0;
}

.right-side {
  flex-direction: row;
  height: 15%;
  width: 99%;
  justify-content: space-around;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 0;
}

.game-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.left-side {
  height: 70%;
  flex-direction: column;
}

.left-side .ai-area {
  height: 10rem;
  width: 25rem;
  align-items: center;
  gap: .3rem;
}


.left-side-down {
  height: 23rem;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.player-area {
  position: absolute;
  left: 1rem;
  height: 48%;
  flex-wrap: wrap;
  align-content: center;
  gap: .1rem;
  
}

.card-btn-container {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  height: 20rem;
  width: 5rem;
  align-items: center;
}

.card-button {
  height: 5rem;
  width: 3rem;
}

.card-btn {
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
}

.card-button .card .content, .symbols, h2 {
  display: none;
}

.card-button .card .signal {
  font-size: 2rem;
}

}

/* @media (min-width: 577px) and ( max-width: 768px ) { 

.blackjack-game-area {
  flex-direction: column;
}
.card-btn-container {
  gap: 0.5rem;
}

.card-btn-container .card-btn {
  height: 5vh;
  font-size: large;
  display: flex;
  align-items: center;
}

.right-side {
  flex-direction: row;
  order: 1;
  margin: .5rem;
}

.right-side .display {
width: 20%;
}

.right-side .upper {
  flex-direction: row-reverse;
}

.right-side .game-text p{
  text-align: center;
}

.right-side .navbar-items {
  display: none;
}

.right-side .upper .display {
  display: none;
}

.right-side .display div p {
  font-size: large;
}

.right-side .display, .game-text, .btn p {
  margin: 0;
}

.left-side {
  order: 2;
}

.pot-area {
  flex-direction: row;
  width: 95vw;
  order: 3;
}
} */
@media (min-width: 577px) and ( max-width: 768px ) { 

  .blackjack-game-area {
    flex-direction: column;
  }
  .card-btn-container {
    gap: 0.5rem;
  }
  
  .card-btn-container .card-btn {
    height: 5vh;
    font-size: medium;
    display: flex;
    align-items: center;
    padding: 1.5rem;
  }
  
  .right-side {
    flex-direction: row;
    order: 1;
    margin: .5rem;
  }
  
  .right-side .display {
  width: 20%;
  }
  
  .right-side .upper {
    flex-direction: row-reverse;
  }
  
  .right-side .game-text p{
    text-align: center;
  }
  
  .right-side .navbar-items {
    display: none;
  }
  
  .right-side .upper .display {
    display: none;
  }
  
  .right-side .display div p {
    font-size: large;
  }
  
  .right-side .display, .game-text, .btn p {
    margin: 0;
  }
  
  .left-side {
    order: 2;
  }
  
  .pot-area {
    flex-direction: row;
    width: 95vw;
    order: 3;
  }
  
  
  
}

 @media (min-width: 769px) and ( max-width: 992px ) { 

  .blackjack-game-area {
    flex-direction: column;
  }
  .card-btn-container {
    gap: 0.5rem;
  }
  
  .card-btn-container .card-btn {
    height: 5vh;
    font-size: large;
    display: flex;
    align-items: center;
  }
  
  .right-side {
    flex-direction: row;
    order: 1;
    margin: .5rem;
  }
  
  .right-side .display {
  width: 20%;
  }
  
  .right-side .upper {
    flex-direction: row-reverse;
  }
  
  .right-side .game-text p{
    text-align: center;
  }
  
  .right-side .navbar-items {
    display: none;
  }
  
  .right-side .upper .display {
    display: none;
  }
  
  .right-side .display div p {
    font-size: large;
  }
  
  .right-side .display, .game-text, .btn p {
    margin: 0;
  }
  
  .left-side {
    order: 2;
  }
  
  .pot-area {
    flex-direction: row;
    width: 95vw;
    order: 3;
  }
  
  
  
}

@media (min-width: 993px) and ( max-width: 1200px ) { 

  .blackjack-game-area {
    flex-direction: column;
  }
  .card-btn-container {
    gap: 0.5rem;
  }
  
  .card-btn-container .card-btn {
    height: 5vh;
    font-size: large;
    display: flex;
    align-items: center;
  }
  
  .right-side {
    flex-direction: row;
    order: 1;
    margin: .5rem;
  }
  
  .right-side .display {
  width: 20%;
  }
  
  .right-side .upper {
    flex-direction: row-reverse;
  }
  
  .right-side .game-text p{
    text-align: center;
  }
  
  .right-side .navbar-items {
   flex-direction: column;
   text-align: center;
  }
  
  .right-side .upper .display {
    display: none;
  }
  
  .right-side .display div p {
    font-size: large;
  }
  
  .right-side .display, .game-text, .btn p {
    margin: 0;
  }
  
  .left-side {
    order: 2;
  }
  
  .pot-area {
    flex-direction: row;
    width: 95vw;
    order: 3;
  }
  
  
  
}

@media (min-width: 1201px) and ( max-width: 1400px ) { 

  .blackjack-game-area {
    flex-direction: column;
  }
  .card-btn-container {
    gap: 0.5rem;
  }
  
  .card-btn-container .card-btn {
    height: 5vh;
    font-size: large;
    display: flex;
    align-items: center;
  }
  
  .right-side {
    display: flex;
    flex-direction: row;
    order: 1;
    margin: .5rem;
    justify-content: space-evenly;
  }
  
  .right-side .display {
    width: 20%;
    
  }
  
  .right-side .upper {
    width: 55%;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }

  .right-side .upper .display {
    /* width: ; */
  }
  
  .right-side .game-text p{
    padding: 3rem;
    text-align: center;
  }
  
  .right-side .upper .navbar {
    order: 1;
  }
  
  .right-side .navbar-items {
   flex-direction: column;
   text-align: center;
  }
  
  .right-side .upper .display {
    /* display: none; */
  }
  
  .right-side .display div p {
    font-size: large;
  }
  
  .right-side .display, .game-text, .btn p {
    margin: 0;
  }
  
  .left-side {
    order: 2;
  }
  
  .pot-area {
    flex-direction: row;
    width: 95vw;
    order: 3;
  }
  
  
  
}